.App {
  margin: 0 auto;
  padding: 12px;
  width: 1024px;
  background-color: #F6F6F6;
}

.header__title {
  color: #F05F21;
  font-size: 200%;
  font-weight: bold;
}

.header__button {
  margin: 12px 0;
}

.header__button button {
  border: 1px solid grey;
  padding: 2px 5px;
  border-radius: 2px;
  background-color: white;
}

.header__button button:hover {
  background-color: #F05F21;
  color: white;
}

.header__button button:active {
  background-color: rgb(201, 61, 2);
}

.header__filter {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.header__filter span {
  color: #F05F21;
  font-size: 150%;
}

.header__filter input {
  width: 80%;
  margin-left: 12px;
}

.main__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main__item {
  display: flex;
  flex-direction: column;
  width: 32%;
  margin: 6px;
}

.main__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 209px;
}

.main__image img {
  max-width: 100%;
}

.main__text {
  margin-top: 12px;
}

h2.item__title {
  font-weight: bold;
}

.item__permalink {
  word-wrap: break-word;
}

.main__loading {
  margin: 0 auto;
}

.main__result {
  font-size: 150%;
  color: grey;
  margin: 0 auto;
}